.create__avatar-section {
    margin-top:25px;
    width: 100%;
}

.create__avatars-container {
    margin-top:10px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create__buttons {
    width: 100%;
    display:flex;
    position:absolute;
    bottom:30px;
    left:0;
    align-items: center;
    justify-content: space-evenly;
}

.create__error{
    
}

.create__error-desact{
    display:none;
}

.create__error-act{
    display:inline;
}



.create__random-avatar {
    margin: 10px;
    width: 60px;
    height: 60px;
    background-size: contain; 
    transition: all 300ms linear;
    border-radius: 50%;
    position: relative;
}

.create__random-avatar:hover {
    transition: all 200ms linear;
        // width: 70px;
    // height: 70px;
    // border-radius: 50%;
}
  
  .create__random-avatar-selected::before,
  .create__random-avatar-selected::after {
    animation: pulse 2s linear infinite;
    border: $primary-violet solid 8px;
    border-radius: 9999px;
    box-sizing: border-box;
    content: ' ';
    height: 140%;
    left: -20%;
    opacity: .6;
    position: absolute;
    top: -20%;
    transform: scale(0.8);
    width: 140%;
    z-index: 1;
  }
  .create__random-avatar::after {
    animation-delay: 1s;
  }

  @keyframes pulse {
    to {
      opacity: 0;
      transform: scale(1.1);
    }
  }