//----------------- SIZES -------------------//

//TAMAÑOS DE TEXTOS
$xxl: 4rem;
$xl: 2.4rem;
$lg: 2.2rem;
$md: 1.5rem;
$sm: 1.3rem;


//---------------- COLOURS -----------------//

$white-back: #eaeef7;
$total-white: #ffffff;
$primary-violet: #757cd3;
$black: #26282e;


$info-container: $primary-violet;
$info-picture: $white-back;

$configurationBar: $total-white;
$account-avatar: $primary-violet;
$accounts-container: $white-back;

$new-account-banner: $primary-violet;